<!DOCTYPE html>
<html data-bs-theme="dark">

{{> meta}}

<body class="container" id="top">

<main>
<article>
{{{ body }}}
</article>
</main>

<footer>
{{> footer }}
</footer>

</body>
</html>