---
import Meta from "../components/Meta.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" data-bs-theme="dark">
	<head>
		<Meta />
	</head>

	<body class="container" id="top">
		<main>
			<article>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
<style></style>
