---
import "bootstrap/dist/css/bootstrap.min.css";
import "@/styles/global.css";

import Meta from "@/components/Meta.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en" data-bs-theme="dark">
	<head>
		<Meta />
	</head>

	<body class="container" id="top">
		<main>
			<article>
				<slot />
			</article>
		</main>
		<Footer />

		<script src="/gpr300-sokol/sugar.js" is:inline></script>
	</body>
</html>
<style></style>
