# visual studio project file
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# build output
build/
website/

# intermediate files
.cache/*

# Dependency directories
node_modules/

# development tools
emsdk/

# generated shader headers
assignments/shaders/*.h
libs/batteries/shaders/*.h

# macOS
.DS_Store