:root {
  --highlight-color: null;
  --highlight-background: null;
}

::selection {
  color: var(--highlight-color);
  background: var(--highlight-background);
}

pre {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.game {
  margin-right: auto;
  margin-left: auto;
  border: 0;
  width: 800px;
  height: 600px;
  overflow: hidden;
  display: block;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}